<div class="container-sm text-center">
    <div class="container-sm mt-5 text-center">
      <div class="container mt-10">
        <p class="text-left text-light">Current tester firmware version: <span id="testerVersion"> -.-.-</p>
        <button type="button" id="refresh" class="btn btn-primary btn-lg w-50">Refresh</button>
      </div>
      <div class="container-sm h-25 d-inline-block"></div>
      <table class="table table-striped table-dark text-center">
        <thead class="thead" style="color: blueviolet;">
          <tr>
              <th>Variable</th>
              <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Connection status </td>
            <td><span id="serial">-,- </span></td>
          </tr>
          <tr>
            <td>Read status [-]</td>
            <td><span id="state">-,- </span></td>
          </tr>
          <tr>
            <td>Voltage L1 [V]</td>
            <td><span id="voltageL1">-,- </span></td>
          </tr>
          <tr>
            <td>Voltage L2 [V]</td>
            <td><span id="voltageL2">-,-</span></td>
          </tr>
          <tr>
            <td>Voltage L3 [V]</td>
            <td><span id="voltageL3">-,-</span></td>
          </tr>
          <tr>
            <td>Current L1 [A]</td>
            <td><span id="currentL1">-,-</span></td>
          </tr>
          <tr>
            <td>Current L2 [A]</td>
            <td><span id="currentL2">-,-</span></td>
          </tr>
          <tr>
            <td>Current L3 [A]</td>
            <td><span id="currentL3">-,-</span></td>
          </tr>
          <tr>
            <td>EV state [-]</td>
            <td><span id="evState">-,-</span></td>
          </tr>
          <tr>
            <td>RFID counter [-]</td>
            <td><span id="rfidCounter">-,-</span></td>
          </tr>
          <tr>
            <td>RFID length [-]</td>
            <td><span id="rfidLength">-,-</span></td>
          </tr>
          <tr>
            <td>RFID ID [-]</td>
            <td><span id="rfidID">-,-</span></td>
          </tr>
          <tr>
            <td>EVSE max current [A]</td>
            <td><span id="evseMaxCurrent">-,-</span></td>
          </tr>
          <tr>
            <td>HDO [-]</td>
            <td><span id="hdo">-,-</span></td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div> 
</div>